<footer class="footer <%= background === 'white' ? 'footer-white' : 'footer-black' %>">
    <div class="infos-footer">
        <div>
            <h4>Menu</h4>
            <ul style="list-style: none;">
                <li><a href="">Quem Somos</a></li>
                <li><a href="">Termos de uso</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>

        <div>
            <h4>Tecnologias</h4>
            <p>HTML ● CSS ● JavaScript ● Node.js ● React ● Next.js  ● Vue.js ● Tailwind ● TypeScript ● Angular
                Lua ● Python ● Go ● C ● C++ ● C# ● Java ● Spring ● PHP ● Laravel ● Kotlin ● Flutter ● Rust ● Delphi
                SQL ● Docker ● Git ● Linux ● SSH </p>
        </div>

        <div>
            <h4>Cursos</h4>
            <p>Algorítimos e lógica de programação ● Desenvolvimento web ● Design Digital ● Banco de dados relacional e não relacional
                Técnicas de programação ● Estrutura de dados ● Programação mobile ● Sistemas operacionais e redes de computadores 
                Computação em nuvem ● Engenharia de Software ● Gestão ágeil de projeto de software ● Matemárica para computação  </p>
        </div>
        <div></div>
    </div>
</footer>