<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações da Conta</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/configurar-conta.css">
    <link rel="stylesheet" href="/css/components/header.css">
</head>

<body>

    <header class="custom-header">
        <div class="logo">
            <a href="/"><img src="/img/headerlogoinicial.svg" alt="" id="teste" onmouseenter="teste()" onmouseleave="teste()"></a>
            <div class="pesquisa">
                <img src="/img/headersearch.svg" alt="">
                <form action="">
                    <input type="search" name="" id="" placeholder="Pesquise por qualquer coisa..."
                        class="caixa-pesquisa">
                </form>
            </div>
        </div>


        <div class="direita">
            <ul>
                <li><a href="" class="botao">Aprendizado</a></li>
                <li><a href=""><img src="/img/headeruser.svg" alt="" width="32px" ></a></li>
            </ul>
        </div>
    </header>

    <div class="container white-text">
        <div class="row">
            <div class="col s12 m6">
                <h4>Configurações da conta</h4>
                <p>Veja e edite informações sobre a sua conta IMO</p>

                <hr class="linha linha-pequena">

                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="/img/ciscomen.svg" class="circle responsive-img" width="100">
                    </div>
                    <div class="col s8">
                        <a href="#" class="btn botaoporra">Editar foto de perfil</a>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s8">
                        <input id="email" type="email" class="validate white-text">
                        <label for="email">E-mail:</label>
                    </div>

                    <div class="col s4">
                        <a href="#" class="btn botaoporra">Editar e-mail</a>
                    </div>

                </div>

                <hr class="linha">

                <div class="input-field">
                    <input id="current_password" type="password" class="validate white-text">
                    <label for="current_password">Digite sua senha atual</label>
                </div>

                <div class="input-field">
                    <input id="new_password" type="password" class="validate white-text">
                    <label for="new_password">Digite a nova senha</label>
                </div>

                <div class="input-field">
                    <input id="confirm_password" type="password" class="validate white-text">
                    <label for="confirm_password">Digite a nova senha</label>
                </div>

                <div class="center-align">
                    <a href="#" class="btn botaoporra">Alterar senha</a>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>