<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/components/fonts.css">
    <title>IMO</title>
</head>

<body>

    <header class="custom-header">

        <div class="logo">
            <a href="/"><img src="/img/header/headerlogoinicial.svg" alt="" id="teste" onmouseenter="teste()"
                    onmouseleave="teste()"></a>
            <div class="pesquisa">
                <img src="/img/header/headersearch.svg" alt="">
                <form action="">
                    <input type="search" name="" id="" placeholder="Pesquise por qualquer coisa..."
                        class="caixa-pesquisa">
                </form>
            </div>
        </div>


        <div class="direita">
            <ul>
                <li><a href="/login" class="botao">Fazer Login</a></li>
                <li><a href="/cadastro" class="botaobranco">Cadastre-se</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section class="inicial">
            <div class="slogan">
                <p class="texto-slogan">DESENVOLVA SUA CARREIRA DIGITAL COM NOSSOS CURSOS PERSONALIDOS</p>
            </div>

            <div class="iniciar">
                <a href="/aula" class="botaoazul">Comece agora!</a>
            </div>

            <div class="aulinhas">
                <div class="carousel-container">
                    <button class="carousel-btn prev">&#10094;</button>
                    <div class="carousel">
                        <div class="carousel-item">
                            <img src="/img/uploads/vasto-bode.png" alt="Curso 1">
                            <p>Power BI com Excel</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 2">
                            <p>Aprenda a fazer seu primeiro site</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/uploads/vasto-bode.png" alt="Curso 3">
                            <p>TESTE</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 4">
                            <p>Aprenda a fazer seu primeiro site</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>Power BI com Excel</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/ciscomen.svg" alt="Curso 5">
                            <p>PORRA</p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                    </div>
                    <button class="carousel-btn next">&#10095;</button>
                </div>
            </div>
        </section>


        <section class="biblioteca">
            <div class="texto-popular">
                <h2>MAIS POPULARES</h2>
            </div>
            <div class="cursos-populares">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </section>


        <footer class="footer">
            <div class="infos-footer">
                <div>
                    <h4>Menu</h4>
                    <ul style="list-style: none;">
                        <li><a href="">Quem Somos</a></li>
                        <li><a href="">Termos de uso</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Tecnologias</h4>
                    <p>HTML ● CSS ● JavaScript ● Node.js ● React ● Next.js ● Vite ● Vue.js ● Tailwind ● TypeScript ●
                        Angular
                        Lua ● Python ● Go ● C ● C++ ● C# ● Java ● Spring ● PHP ● Laravel ● Kotlin ● Flutter ● Rust ●
                        Delphi
                        SQL ● Docker ● Git ● Linux ● SSH </p>
                </div>

                <div>
                    <h4>Cursos</h4>
                    <p>Algorítimos e lógica de programação ● Desenvolvimento web ● Design Digital ● Banco de dados
                        relacional e não relacional
                        Técnicas de programação ● Estrutura de dados ● Programação mobile ● Sistemas operacionais e
                        redes de computadores
                        Computação em nuvem ● Engenharia de Software ● Gestão ágeil de projeto de software ● Matemárica
                        para computação </p>
                </div>
                <div></div>
            </div>
        </footer>
    </main>

    <script src="/js/header.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>