<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/botaoplay.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/informacoes.css">
    <link rel="stylesheet" href="/public/css/components/footer.css">
    <link rel="stylesheet" href="/public/css/components/title.css">
    <title>Meu Perfil</title>
</head>

<header>
    <div>
        <a href="/views/index.html"><img src="/public/img/logoHover.svg" height="50px"></a>
    </div>
    <div id="div-search">
        <a href="#"><img src="/public/img/search.png" alt="" srcset="" height="30px"></a>
        <input type="text" placeholder="Pesquise um curso" id="search">
    </div>

    <div id="infos2">
        <img src="/public/img/configuracoes.svg" alt="" srcset="">
        <img src="/public/img/notificacao.svg" alt="" srcset="" id="sino">
    </div>
</header>

<body>
    <div class="title -second">
        Meus cursos em andamento
    </div>
    <div class="aulas">
        <div class="icone-aula">
            <img src="/public/img/htmlecss.svg" alt="" srcset="">
        </div>
        <div class="titulo-aula">
            <p>
                Comece a criar seu site com HTML e CSS
            </p>
            <p>
                Aula 2 - Começando a codificar
            </p>

        </div>
        <div class="play">
            <a href="/docs/aula-html/html2.html">
                <img src="/public/img/botaoplay.svg" alt="" srcset="">
            </a>
        </div>
    </div>
    <div class="aulas">
        <div class="icone-aula">
            <img src="/public/img/tlbd.svg" alt="" srcset="">
        </div>
        <div class="titulo-aula">
            <p>
                Técnicas e Linguagens para Banco de Dados
            </p>
        </div>
        <div class="play">
            <a href="/docs/aulas-tlbd/tlbd.html">
                <img src="img/botaoplay.svg" alt="" srcset="">
            </a>
            
        </div>
    </div>
    <div id="ver-todas-aulas">
        <a href="#">Ver todos os cursos em andamento</a>
    </div>
    <script src="/public/js/js.js"></script>
</body>
<footer>
    <a href="/views/index.html">
        <img src="img/logoclara2.svg" alt="LOGO" srcset="" height="50px">
    </a>

    <ul>
        <li><a id="teste" href="#">Biblioteca de cursos</li></a>
        <li><a href="#">Colabore</li></a>
        <li><a href="#">FAQ</li></a>
        <li><a href="#">Sobre nós</li></a>
    </ul>
</footer>

</html>