<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/fonts.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/meus-cursos.css">
    <title>Meus cursos</title>
</head>
<body>
    <header class="custom-header">
        <div class="logo">
            <a href="/"><img src="/img/header/headerlogoinicial.svg" alt="" id="teste" onmouseenter="teste()" onmouseleave="teste()"></a>
            <div class="pesquisa">
                <img src="/img/header/headersearch.svg" alt="">
                <form action="">
                    <input type="search" name="" id="" placeholder="Pesquise por qualquer coisa..."
                        class="caixa-pesquisa">
                </form>
            </div>
        </div>


        <div class="direita">
            <ul>
                <li><a href="" class="botao">Aprendizado</a></li>
                <li><a href=""><img src="<%= fotoPerfil %>" alt="" id="fotoPerfil"></a></li> 
            </ul>
        </div>
    </header>


    <main class="principal">

        <!-- <div class="sem-cursos">
            <h3>Nenhum curso iniciado...</h3>
            <a href="/" class="botao">Clique aqui</a>
            <h4>para iniciar um curso</h4>
        </div> -->

        <div class="cursos">

            <div class="texto-curso">
                <h2>MEUS CURSOS</h2>
                <hr class="linha-pequena">
            </div>
    
            <div class="card-cursos">
                <div class="card">
                    <p>PROGRESSO 0%</p>
                    <img src="/img/index/thumbgit.png" alt="Imagemdocurso">
                    <h3>Git</h3>
                    <a href=""><img src="/img/menu-curso/botao-iniciar.svg" alt=""></a>
                </div>
                <div class="card">
                    <p>PROGRESSO 0%</p>
                    <img src="/img/index/thumbbd.png" alt="Imagemdocurso">
                    <h3>Banco de dados</h3>
                    <a href=""><img src="/img/menu-curso/botao-iniciar.svg" alt=""></a>
                </div>
                <div class="card">
                    <p>PROGRESSO 0%</p>
                    <img src="/img/index/thumbjs.png" alt="Imagemdocurso">
                    <h3>Java Script</h3>
                    <a href=""><img src="/img/menu-curso/botao-iniciar.svg" alt=""></a>
                </div>
                <div class="card">
                    <p>PROGRESSO 0%</p>
                    <img src="/img/index/thumbreact.png" alt="Imagemdocurso">
                    <h3>React</h3>
                    <a href=""><img src="/img/menu-curso/botao-iniciar.svg" alt=""></a>
                </div>
               
               
            
               
                
                   
                
                
                
            </div>
        </div>
    </main>


    <%- include('partials/footer.ejs', { background: 'white' }) %>
    <script src="/js/header.js"></script>
</body>
</html>