<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/fonts.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/nossos-cursos.css">
    <title>Nossos cursos</title>
</head>
<body>

    <%- include ('partials/header') %>
    
    <main class="principal">

        <div class="cursos">

            <div class="texto-curso">
                <h2>NOSSOS CURSOS</h2>
                <hr class="linha-pequena">
            </div>
    
            <div class="card-cursos">

                    <div class="card">
                        <img src="/img/thumbnails/thumbjs.png" alt="Imagemdocurso">
                        <h3>nome do curso</h3>
                        <button class="botao abrirmodal">SAIBA MAIS</button>

                        <dialog>
                            <div class="conteudo-curso">
                                <div class="nome-curso">
                                    <img src="/img/thumbnails/thumbjs.png" alt="Imagemdocurso">
                                    <h3>DESCRIÇÃO DO CURSO</h3>
                                </div>
                                <div class="descricao-curso">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia expedita deleniti quibusdam perspiciatis animi numquam optio minus eum odio cupiditate? Ullam hic cupiditate repudiandae aliquam harum officiis corrupti repellat dolor.</p>
                                </div>
                                <div class="botoes-curso">
                                    <button class="botaos">INSCREVER-SE</button>
                                    <button class="botaofechar botaos">Fechar</button>
                                </div>
                            </div>
                        </dialog>
                    </div>

                    
            </div>

        </div>
    </main>


    <%- include('partials/footer.ejs', { background: 'white' }) %>
    
    <script src="/js/header.js"></script>
    <script src="/js/nossos-cursos.js"></script>
</body>
</html>