<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (!cursos.length) { %>
        <p>se matricule em algum curso</p>

    <% } else { %>
        <% for ( curso of cursos) { %>
            <ul>
                <li>
                    <a href="/library/<%= curso.categoria_curso%>/<%= curso.nome_curso %>"><%= curso.nome_curso %></a>
                </li>
            </ul>
        <% } %> 
    <% } %>
</body>
</html>