body {
    background-color: #2D2F31;
    font-family: 'FonteIMO','Courier New', Courier, monospace,serif;
    letter-spacing: 1px;
}

/* ----------------INPUTS------------------- */

input[type=text]:focus+label,
input[type=password]:focus+label {
    color: #1e64e5 !important;
}

input[type=text]:focus,
input[type=password]:focus {
    border-bottom: 1px solid #1e64e5 !important;
    box-shadow: 0 1px 0 0 #1e64e5 !important;
}

input[type=text].white-text,
input[type=password].white-text {
    color: white !important;
}

.input-field label {
    color: #ffffff;
}

.input-field input[type=text] {
    color: white;
}

/* ______________________________________________________ */


.linha {
    border: 1px solid #5E6367;
    margin: 10px 0;
    background-color: #5E6367 !important;
}

.linha-pequena {
    width: calc(76% - 30px);
    margin-left: 0;
}

.valign-wrapper {
    display: flex;
    align-items: center;
}


.input-field.col.s8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col.s4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 10px;
}


.botaoporra{
    color: #ffffff !important;
    background-color: #ffffff00 !important;
    border: 1px solid #ffffff !important;
}

.botaoporra:hover{
    background-color: #1e64e5 !important;
    border: 1px solid #1e64e5 !important;
}

#fotoPerfil {
    height: 50px;
    max-width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}