body {
    font-family: 'FonteIMO', 'Courier New', Courier, monospace;
    background-color: #2d2f31;
}


/* ---------------------------------INICIO--------------------------------------- */

.inicial {
    display: flex;
    flex-direction: column;
}

/* slogan */

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/index/INDEXfundo.jpg');
    height: 70vh;
}

.slogan::after {
    content: "";
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.651);
}

.texto-slogan {
    color: white;
    font-size: 35px;
    z-index: 2;
}

/* botao */

.iniciar {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.botaoazul {
    color: white;
    border: 1px solid #1e64e5;
    background-color: #1e64e5;
    padding: 7px;
    border-radius: 5px;
}

.botaoazul:hover {
    border: 1px solid #1751bd;
    background-color: #1751bd;
    transition: 0.5s;
}

/* carousel */

.aulinhas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 50px;
}

.carousel-container {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    height: 200px;
}

.carousel-item {
    min-width: 220px;
    margin: 10px 10px;
    text-align: center;
    color: white;
    transition: 0.5s;
}

.carousel-item:hover {
    transform: scale(1.1);
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 999;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ---------------------------------BIBLIOTECA--------------------------------------- */

.biblioteca {
    background-color: #E0E6EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
}

.texto-popular {
    display: flex;
    width: 72%;
}

.cursos-populares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;

}

.card {
    flex: 0 0 calc(25% - 100px);
    margin: 50px;
    height: 250px;
    background-color: #f0f0f0;
    border: 4px solid #000000;
    box-sizing: border-box;
    background-image: url('/img/ciscomen.svg');
    box-shadow: 4px 8px 5px rgb(53, 53, 53);
    overflow: hidden; 
}

/* ---------------------------------FOOTER--------------------------------------- */

.footer{
    height: 90vh;
    
    background-color: #2d2f31;

    color: white;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-footer{
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 70vh;
    width: 80vw;
}

.infos-footer > div > h4{
    padding-bottom: 20px;
}

a{
    color: white;
}